*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/
#.env

### macOS template
# General
*.DS_Store
.AppleDouble
.LSOverride

media/

# Data
creator.py
*.csv

# Executable
*.exe