{% extends "anfitrion/base.html" %}

{% block head_content %}
    <title>Regalos.mx</title>
{% endblock %}

{% block container %}
    {% load static %}
    
    <img src="{% static 'img/perfil.jpg' %}" class="rounded-circle mx-auto d-block border border-4" width="15%" alt="Foto de perfil">
    <div class="card" style="text-align: center">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">Hola, como estas!</cite></footer>
            <a href="{% url 'anfitrion:crear' %}" class="btn btn-warning" role="button">CREAR!</a>
            <br><br><br><br>

            {% if eventos %}
              <p>EVENTOS CREADOS</p>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre del festejado</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Concluido</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for evento in eventos %}
                      <tr>
                        
                          <td>{{ evento.festejado_first_name }} {{ evento.festejado_last_name }}</td>
                          <td>{{ evento.date }} </td>
                          <td>{{ evento.id }}</td>
                          <td>
                            {% if evento.terminado %}
                              ✅
                            {% else %}
                              ❌
                            {% endif %}
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            {% else %}
              <h3>Aun no eres anfitrion de ningun evento, crea uno hoy mismo!</h3>
            {% endif %}
            
          </blockquote>
        </div>
        
    </div>
{% endblock %}