{% extends 'base.html' %}

{% block head_content %}
    <title>Comprar Regalos</title>
{% endblock head_content %}

{% block container %}
    {% load static %}
    {% if regalos %} 
        <h4>
            Aquí esta la lista de regalos perfectos
            {% if event_type == 'BO' %}
             para la boda
            {% elif event_type == 'BA' %}
            para el bautizo
            {% elif event_typee == 'IN' %}
            para la fiesta infantil
            {% elif event_type == 'XV' %}
            para los 15 años
            {% elif event_type == 'PH' %}
            para festejar a un hombre
            {% elif event_type == 'PM' %}
            para festejar a una mujer
            {% endif %}
        </h4>
        {{ relalos.size }}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Selecciona</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for regalo in regalos %}
                    <tr>
                        <td><a href="{% url 'pagar' event_k regalo.type regalo.pk %}">Ver</a></td>
                        <td>{{ regalo.description }}</td>
                        <td>{{ regalo.store }}</td>
                        <td>${{ regalo.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %} 
        <h1>Lo sentimos la invitacion cuenta con un error :(</h1> 
    {% endif %}
{% endblock container %}