{% extends 'regalos/base.html' %}

{% block head_content %}
    <title>Inicio</title>
{% endblock head_content %}

{% block container %}
    {% load static %}
    <div style="text-align: center;">
        <h1>Crea recuerdos memorables para ti y tus seres queridos.</h1>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">INVITADOS</h5>
              <p class="card-text">
                  Los invitados cuentan con un link de acceso, con el que podran ver la lista de regalos personalizada del
                  festejado para comprar el mejor y hacer de eso un momento inigualable. <br> <br>
                  Recuerda que tu link debio de llegar a tu correo (revisa en spam). En caso de no contar con link, no dudes 
                  en comunicarte con el anfitrion del evento.
              </p>
              {% comment %} <form class="row" method="POST" action="#">
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="codigo" placeholder="290180">
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-info mb-3">TENGO MI CODIGO!</button>
                </div>
              </form> {% endcomment %}
              {% comment %} <a href="#" class="btn btn-info">TENGO MI CODIGO!</a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ANFITRIONES</h5>
              <p class="card-text">
                  Si estas registrado en la plataforma, puedes crear nuevos eventos asi como modificar tus eventos existentes, para 
                  disfrutar de la compañía de tus seres queridos.
              </p><br>
              <a href="{% url 'anfitrion:login' %}" class="btn btn-info">TENGO CUENTA!</a>
              <a href="{% url 'anfitrion:signup' %}" class="btn btn-info">CREAR CUENTA!</a>
            </div>
          </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <hr>
    <div style="text-align: center;">
      <p>© 2022 Company, Inc</p>
    </div>
{% endblock container %}